---
version: 2
updates:
  - package-ecosystem: maven
    directory: "/"
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
    target-branch: master
    ignore:
      # maven core artifacts are provided by the running maven, do not update to prevent consuming something unavailable
      - dependency-name: "org.apache.maven:maven-artifact"
      - dependency-name: "org.apache.maven:maven-core"
      - dependency-name: "org.apache.maven:maven-model"
      - dependency-name: "org.apache.maven:maven-plugin-api"
      # Per https://codehaus-plexus.github.io/plexus-utils/ pin plexus-xml to 3
      # for Maven 3 compatibility, as plexus-xml 4 works only in Maven 4.
      - dependency-name: "org.codehaus.plexus:plexus-xml"
        versions: [">=4.0.0"]
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
